/* body{
    background-color: aquamarine;
} */

.box{
    height: 400px;
    width: 400px;
    border: 1px solid red;
    background-color: aquamarine;
    /* margin: 20px; */
    margin-left: 20px;
    margin-top: 30px;
    padding: 20px;
}
.box1{
    height: 100px;
    width: 100px;
    border: 1px solid greenyellow;
    background-color: chartreuse;
    color: aliceblue;
}